<header>
  <a class="logoLink" routerLink="" (click)='searchBarChange("")'>
    <img class="logo" src="assets/logo.png" />
  </a>
</header>

<app-sidebar (onSideBarChange)="sideBarChange($event)"></app-sidebar>
<app-game-search (onSearchBarChange)="searchBarChange($event)"></app-game-search>
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-2" id="columnas">
    <div *ngFor="let game of filtro">
      <a class="link" routerLink="/detail/{{game.id}}">
        <div class="item">
          <img class="foto" src="{{game.background_image}}" />
        </div>
        <h2> {{game.name}} </h2>
      </a>
    </div>
  </div>
</div>

<footer>
  <h4> Hecho por Gonzalo Bergengruen - 2023 </h4>
</footer>